body {
    display: flex;
    flex-direction: column;
    --main-color: #2c2825;
    font-family: Courier, Arial;
    margin: 0px;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: var(--main-color);
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    border-bottom: 7px #f0ebd8 solid;
}

.site_things {
    display: flex;
    width: 15vw;
    justify-content: center;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 90vw;
    padding: 15px 0px 15px 0px;
}

.site_name {
    display: flex;
    justify-content: space-between;
    margin-right: 1vw;
}

.name {
    width: fit-content;
}

.logo {
    width: 30px;
    height: 30px;
    filter: invert(
        1
    ); /*L'image est en noir donc on inverse la couleur pour la rendre blanche*/
    margin-left: 2%;
    margin-top: 5%;
}

.header_right {
    display: flex;
    justify-content: space-around;
    width: fit-content;
}

.crown {
    width: 40px;
    height: 40px;
    filter: invert(1);
    margin-top: -5%;
}

.user_name {
    display: flex;
    flex-direction: row;
    line-height: 100%;
    text-align: center;
}

.user_name:hover {
    color: #f0ebd8;
}

.crown_div {
    margin-right: -5%;
}

/*Bouton de déconnection (seulement présent quand l'utilisateur est connecté)*/

.disconnect,
.connect,
.register {
    font-family: Courier, Arial;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    height: fit-content;
    width: 100%;
    margin: auto;
    line-height: 40px;
}

.register {
    margin-left: 15%;
}

.disconnect:hover,
.connect:hover,
.register:hover {
    color: red;
    cursor: pointer;
}

.panier {
    filter: invert(
        1
    ); /*L'image est en noir donc on inverse la couleur pour la rendre blanche*/
    width: 45px;
    height: 45px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header a {
    width: 20%;
    margin: auto;
    color: white;
    text-decoration: none;
}

/*Liens du header et leurs images de fond*/

header li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../storage/images/images_header/fond_brun.png);
    transition: background-image 0.2s linear;
}

.france:hover {
    background-image: url(../storage/images/images_header/photo_france.jpeg);
    background-size: cover;

    /* transition: background-image 0.2s ease-in-out; */
}

.spain:hover {
    background-image: url(../storage/images/images_header/photo_espagne.jpeg);
    background-size: cover;

    /* transition: background-image 0.2s ease-in-out; */
}

.usa:hover {
    background-image: url(../storage/images/images_header/photo_usa.jpeg);
    background-size: cover;

    /* transition: background-image 0.2s ease-in-out; */
}

.japan:hover {
    background-image: url(../storage/images/images_header/photo_japon.jpg);
    background-size: cover;

    /* transition: background-image 0.2s ease-in-out; */
}
