.main_wrapper {
    font-family: Courier, Arial;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}

.main_wrapper a {
    text-decoration: none;
    color: black;
}

.main_wrapper a:hover {
    color: red;
}

.error {
    color: red;
    text-align: center;
}
